* {
  box-sizing: border-box;
}

body {
  font-family: verdana;
}

nav {
  border: solid 2px white;
  display: flex;
  justify-content: space-around;
}

a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #212121;
    color: #FFFF;
  }
}